.App {
  text-align: center;
  margin-top: 2rem;
}

h1 {
  color: #333;
}

input {
  padding: 0.5rem;
  font-size: 16px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #888;
}